@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  position: relative;
  height: 800px;
  background-image: url(images/header_green.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  padding-top: 196px;
  box-sizing: border-box;
  overflow: hidden;
}
.header__title {
  max-width: 769px;
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 24px;
}
.header__text {
  max-width: 720px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 48px;
}
.header__button, .game__button {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 28px;
  text-decoration-line: none;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0;
  text-align: center;
}
.header__button:hover, .game__button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}

.animated-strip {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  width: auto;
  max-height: 90px;
  background-color: rgb(188, 236, 48);
  bottom: 0;
  left: -30px;
  right: auto;
  padding: 27px 49px;
  box-sizing: border-box;
}
.animated-strip__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-height: 36px;
  list-style-type: none;
  gap: 138px;
}
.animated-strip__list li {
  position: relative;
}
.animated-strip__list li::after {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background-image: url(images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 51px;
}
.animated-strip__item {
  display: inline-block;
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}
.animated-strip__item:last-child {
  margin-right: 138px;
}

.start-scrolling {
  animation: start-scrolling 40s linear -20s infinite;
}

.next-scrolling {
  position: absolute;
  animation: next-scrolling 40s linear infinite;
}

@keyframes start-scrolling {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes next-scrolling {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.about-games {
  background-image: url(images/black1.png);
  background-size: cover;
  background-position: bottom;
  padding-top: 94px;
  padding-bottom: 50px;
}
.about-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0;
  text-align: left;
}
.about-games__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 24px;
}
.about-games__box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 473px 7px 512px;
  gap: 32px;
  margin-top: 72px;
}
.about-games__link {
  display: block;
  grid-column: span 4;
  text-decoration-line: none;
  transition: all 1s;
}
.about-games__link:hover {
  transform: scale(1.06);
}
.about-games__link_1, .about-games__link_3 {
  grid-row: 1/2;
}
.about-games__link_2 {
  grid-row: 1/3;
}
.about-games__link_4, .about-games__link_6 {
  grid-row: 2/4;
}
.about-games__link_5 {
  grid-row: 3/4;
}

.game-card {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}
.game-card__img {
  width: 100%;
  height: 314px;
}
.game-card__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 30px 32px 36px 32px;
}
.game-card__number {
  min-width: 108px;
  height: 36px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  padding: 8px 16px 10px 16px;
  box-sizing: border-box;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
  text-align: left;
}
.game-card__name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0;
  text-align: left;
}

.games {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(images/black2.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 46px;
  padding-bottom: 144px;
}
.games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0;
  text-align: left;
}
.games__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 72px;
  gap: 32px;
}

.game {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}
.game__img {
  max-width: 600px;
  height: auto;
}
.game__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-start;
  padding: 48px;
  box-sizing: border-box;
}
.game__name {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 24px;
}
.game__desc {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 36px;
}
.game__button {
  font-family: "Montserrat";
}
.game__button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}
.game_row-reverse {
  flex-direction: row-reverse;
}

.footer {
  height: 150px;
  background-color: rgb(189, 237, 53);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .about-games {
    padding-top: 46px;
  }
  .about-games__box {
    grid-template-rows: 371px 7px 412px;
  }
  .game-card__img {
    height: 241px;
  }
  .game-card__info {
    gap: 8px;
    padding: 10px 12px 16px 16px;
  }
  .game-card__name {
    font-size: 26px;
    line-height: 28px;
  }
  .games {
    align-content: center;
    padding-bottom: 72px;
  }
  .games__content {
    max-width: 100%;
    align-content: center;
    margin-top: 52px;
  }
  .game {
    height: 380px;
  }
  .game__img {
    width: 50%;
  }
  .game__name {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 14px;
  }
  .game__info {
    padding: 36px;
  }
  .game__desc {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 28px;
  }
  .footer {
    height: 100px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 700px;
    background-image: url(images/header_mob.png);
    background-position: top;
    padding-top: 147px;
  }
  .header__title {
    color: rgb(32, 32, 39);
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .header__text {
    color: rgb(32, 32, 39);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 36px;
  }
  .header__button, .game__button {
    width: 100%;
    max-width: 285px;
    height: 55px;
    font-size: 16px;
    align-self: center;
    pointer-events: none; /*Убирает действие hover*/
  }
  .animated-strip {
    left: -6px;
    padding: 16px 24px;
  }
  .animated-strip__list {
    gap: 74px;
  }
  .animated-strip__list li::after {
    background-image: url(images/star_mob.svg);
    width: 20px;
    height: 20px;
    margin-left: 27px;
  }
  .animated-strip__item {
    font-size: 16px;
  }
  .animated-strip__item:last-child {
    margin-right: 74px;
  }
  .about-games {
    display: none;
  }
  .games {
    align-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .games__title {
    font-size: 40px;
    line-height: 49px;
  }
  .games__content {
    max-width: 100%;
    margin-top: 48px;
    align-content: center;
    gap: 24px;
  }
  .game {
    max-width: 600px;
    height: auto;
    flex-direction: column;
  }
  .game__img {
    width: 100%;
  }
  .game__info {
    width: 100%;
    padding: 29px 29px 32px 29px;
  }
  .game__name {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 16px;
  }
  .game__desc {
    max-width: 285px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }
  .game__button:hover {
    background-color: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    font-size: 16px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */