@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }
    .games {
        align-content: center;

        &__content {
            max-width: 100%;
            align-content: center;
        }
    }
    .game {
        height: auto;

        &__img {
            width: 50%;
        }
    }
}